:root {
  --e-btn-bg-color: theme('colors.white');
  --e-btn-text-color: theme('colors.normal.700');
  --e-btn-border-color: theme('colors.normal.300');

  --e-btn-bg-color\:hover: theme('colors.normal.50');
  --e-btn-text-color\:hover: var(--e-btn-text-color);
  --e-btn-border-color\:hover: var(--e-btn-border-color);

  --e-btn-bg-color\:active: theme('colors.normal.100');

  --e-btn-outline-offset-color: theme('colors.white');

  --e-btn-outline-color: var(--e-btn-border-color);
  --e-btn-icon-size: 1.4em;
  --e-btn-height: calc(theme('width.9') + 2px);
}
html.dark {
  --e-btn-outline-offset-color: theme('colors.normal.700');
}

.e-btn {
  svg {
    width: calc(var(--e-btn-height) / 2);
    height: calc(var(--e-btn-height) / 2);
    + .e-btn_body {
      margin-inline-start: calc(var(--e-btn-height) / 8);
    }
  }
  > .e-btn_body {
    display: inline-block;
  }
}
