@layer utilities {
  .text_current {
    color: var(--colors-current)
    }

  .text_black {
    color: var(--colors-black)
    }

  .text_white {
    color: var(--colors-white)
    }

  .text_transparent {
    color: var(--colors-transparent)
    }

  .text_rose\.50 {
    color: var(--colors-rose-50)
    }

  .text_rose\.100 {
    color: var(--colors-rose-100)
    }

  .text_rose\.200 {
    color: var(--colors-rose-200)
    }

  .text_rose\.300 {
    color: var(--colors-rose-300)
    }

  .text_rose\.400 {
    color: var(--colors-rose-400)
    }

  .text_rose\.500 {
    color: var(--colors-rose-500)
    }

  .text_rose\.600 {
    color: var(--colors-rose-600)
    }

  .text_rose\.700 {
    color: var(--colors-rose-700)
    }

  .text_rose\.800 {
    color: var(--colors-rose-800)
    }

  .text_rose\.900 {
    color: var(--colors-rose-900)
    }

  .text_rose\.950 {
    color: var(--colors-rose-950)
    }

  .text_pink\.50 {
    color: var(--colors-pink-50)
    }

  .text_pink\.100 {
    color: var(--colors-pink-100)
    }

  .text_pink\.200 {
    color: var(--colors-pink-200)
    }

  .text_pink\.300 {
    color: var(--colors-pink-300)
    }

  .text_pink\.400 {
    color: var(--colors-pink-400)
    }

  .text_pink\.500 {
    color: var(--colors-pink-500)
    }

  .text_pink\.600 {
    color: var(--colors-pink-600)
    }

  .text_pink\.700 {
    color: var(--colors-pink-700)
    }

  .text_pink\.800 {
    color: var(--colors-pink-800)
    }

  .text_pink\.900 {
    color: var(--colors-pink-900)
    }

  .text_pink\.950 {
    color: var(--colors-pink-950)
    }

  .text_fuchsia\.50 {
    color: var(--colors-fuchsia-50)
    }

  .text_fuchsia\.100 {
    color: var(--colors-fuchsia-100)
    }

  .text_fuchsia\.200 {
    color: var(--colors-fuchsia-200)
    }

  .text_fuchsia\.300 {
    color: var(--colors-fuchsia-300)
    }

  .text_fuchsia\.400 {
    color: var(--colors-fuchsia-400)
    }

  .text_fuchsia\.500 {
    color: var(--colors-fuchsia-500)
    }

  .text_fuchsia\.600 {
    color: var(--colors-fuchsia-600)
    }

  .text_fuchsia\.700 {
    color: var(--colors-fuchsia-700)
    }

  .text_fuchsia\.800 {
    color: var(--colors-fuchsia-800)
    }

  .text_fuchsia\.900 {
    color: var(--colors-fuchsia-900)
    }

  .text_fuchsia\.950 {
    color: var(--colors-fuchsia-950)
    }

  .text_purple\.50 {
    color: var(--colors-purple-50)
    }

  .text_purple\.100 {
    color: var(--colors-purple-100)
    }

  .text_purple\.200 {
    color: var(--colors-purple-200)
    }

  .text_purple\.300 {
    color: var(--colors-purple-300)
    }

  .text_purple\.400 {
    color: var(--colors-purple-400)
    }

  .text_purple\.500 {
    color: var(--colors-purple-500)
    }

  .text_purple\.600 {
    color: var(--colors-purple-600)
    }

  .text_purple\.700 {
    color: var(--colors-purple-700)
    }

  .text_purple\.800 {
    color: var(--colors-purple-800)
    }

  .text_purple\.900 {
    color: var(--colors-purple-900)
    }

  .text_purple\.950 {
    color: var(--colors-purple-950)
    }

  .text_violet\.50 {
    color: var(--colors-violet-50)
    }

  .text_violet\.100 {
    color: var(--colors-violet-100)
    }

  .text_violet\.200 {
    color: var(--colors-violet-200)
    }

  .text_violet\.300 {
    color: var(--colors-violet-300)
    }

  .text_violet\.400 {
    color: var(--colors-violet-400)
    }

  .text_violet\.500 {
    color: var(--colors-violet-500)
    }

  .text_violet\.600 {
    color: var(--colors-violet-600)
    }

  .text_violet\.700 {
    color: var(--colors-violet-700)
    }

  .text_violet\.800 {
    color: var(--colors-violet-800)
    }

  .text_violet\.900 {
    color: var(--colors-violet-900)
    }

  .text_violet\.950 {
    color: var(--colors-violet-950)
    }

  .text_indigo\.50 {
    color: var(--colors-indigo-50)
    }

  .text_indigo\.100 {
    color: var(--colors-indigo-100)
    }

  .text_indigo\.200 {
    color: var(--colors-indigo-200)
    }

  .text_indigo\.300 {
    color: var(--colors-indigo-300)
    }

  .text_indigo\.400 {
    color: var(--colors-indigo-400)
    }

  .text_indigo\.500 {
    color: var(--colors-indigo-500)
    }

  .text_indigo\.600 {
    color: var(--colors-indigo-600)
    }

  .text_indigo\.700 {
    color: var(--colors-indigo-700)
    }

  .text_indigo\.800 {
    color: var(--colors-indigo-800)
    }

  .text_indigo\.900 {
    color: var(--colors-indigo-900)
    }

  .text_indigo\.950 {
    color: var(--colors-indigo-950)
    }

  .text_blue\.50 {
    color: var(--colors-blue-50)
    }

  .text_blue\.100 {
    color: var(--colors-blue-100)
    }

  .text_blue\.200 {
    color: var(--colors-blue-200)
    }

  .text_blue\.300 {
    color: var(--colors-blue-300)
    }

  .text_blue\.400 {
    color: var(--colors-blue-400)
    }

  .text_blue\.500 {
    color: var(--colors-blue-500)
    }

  .text_blue\.600 {
    color: var(--colors-blue-600)
    }

  .text_blue\.700 {
    color: var(--colors-blue-700)
    }

  .text_blue\.800 {
    color: var(--colors-blue-800)
    }

  .text_blue\.900 {
    color: var(--colors-blue-900)
    }

  .text_blue\.950 {
    color: var(--colors-blue-950)
    }

  .text_sky\.50 {
    color: var(--colors-sky-50)
    }

  .text_sky\.100 {
    color: var(--colors-sky-100)
    }

  .text_sky\.200 {
    color: var(--colors-sky-200)
    }

  .text_sky\.300 {
    color: var(--colors-sky-300)
    }

  .text_sky\.400 {
    color: var(--colors-sky-400)
    }

  .text_sky\.500 {
    color: var(--colors-sky-500)
    }

  .text_sky\.600 {
    color: var(--colors-sky-600)
    }

  .text_sky\.700 {
    color: var(--colors-sky-700)
    }

  .text_sky\.800 {
    color: var(--colors-sky-800)
    }

  .text_sky\.900 {
    color: var(--colors-sky-900)
    }

  .text_sky\.950 {
    color: var(--colors-sky-950)
    }

  .text_cyan\.50 {
    color: var(--colors-cyan-50)
    }

  .text_cyan\.100 {
    color: var(--colors-cyan-100)
    }

  .text_cyan\.200 {
    color: var(--colors-cyan-200)
    }

  .text_cyan\.300 {
    color: var(--colors-cyan-300)
    }

  .text_cyan\.400 {
    color: var(--colors-cyan-400)
    }

  .text_cyan\.500 {
    color: var(--colors-cyan-500)
    }

  .text_cyan\.600 {
    color: var(--colors-cyan-600)
    }

  .text_cyan\.700 {
    color: var(--colors-cyan-700)
    }

  .text_cyan\.800 {
    color: var(--colors-cyan-800)
    }

  .text_cyan\.900 {
    color: var(--colors-cyan-900)
    }

  .text_cyan\.950 {
    color: var(--colors-cyan-950)
    }

  .text_teal\.50 {
    color: var(--colors-teal-50)
    }

  .text_teal\.100 {
    color: var(--colors-teal-100)
    }

  .text_teal\.200 {
    color: var(--colors-teal-200)
    }

  .text_teal\.300 {
    color: var(--colors-teal-300)
    }

  .text_teal\.400 {
    color: var(--colors-teal-400)
    }

  .text_teal\.500 {
    color: var(--colors-teal-500)
    }

  .text_teal\.600 {
    color: var(--colors-teal-600)
    }

  .text_teal\.700 {
    color: var(--colors-teal-700)
    }

  .text_teal\.800 {
    color: var(--colors-teal-800)
    }

  .text_teal\.900 {
    color: var(--colors-teal-900)
    }

  .text_teal\.950 {
    color: var(--colors-teal-950)
    }

  .text_emerald\.50 {
    color: var(--colors-emerald-50)
    }

  .text_emerald\.100 {
    color: var(--colors-emerald-100)
    }

  .text_emerald\.200 {
    color: var(--colors-emerald-200)
    }

  .text_emerald\.300 {
    color: var(--colors-emerald-300)
    }

  .text_emerald\.400 {
    color: var(--colors-emerald-400)
    }

  .text_emerald\.500 {
    color: var(--colors-emerald-500)
    }

  .text_emerald\.600 {
    color: var(--colors-emerald-600)
    }

  .text_emerald\.700 {
    color: var(--colors-emerald-700)
    }

  .text_emerald\.800 {
    color: var(--colors-emerald-800)
    }

  .text_emerald\.900 {
    color: var(--colors-emerald-900)
    }

  .text_emerald\.950 {
    color: var(--colors-emerald-950)
    }

  .text_green\.50 {
    color: var(--colors-green-50)
    }

  .text_green\.100 {
    color: var(--colors-green-100)
    }

  .text_green\.200 {
    color: var(--colors-green-200)
    }

  .text_green\.300 {
    color: var(--colors-green-300)
    }

  .text_green\.400 {
    color: var(--colors-green-400)
    }

  .text_green\.500 {
    color: var(--colors-green-500)
    }

  .text_green\.600 {
    color: var(--colors-green-600)
    }

  .text_green\.700 {
    color: var(--colors-green-700)
    }

  .text_green\.800 {
    color: var(--colors-green-800)
    }

  .text_green\.900 {
    color: var(--colors-green-900)
    }

  .text_green\.950 {
    color: var(--colors-green-950)
    }

  .text_lime\.50 {
    color: var(--colors-lime-50)
    }

  .text_lime\.100 {
    color: var(--colors-lime-100)
    }

  .text_lime\.200 {
    color: var(--colors-lime-200)
    }

  .text_lime\.300 {
    color: var(--colors-lime-300)
    }

  .text_lime\.400 {
    color: var(--colors-lime-400)
    }

  .text_lime\.500 {
    color: var(--colors-lime-500)
    }

  .text_lime\.600 {
    color: var(--colors-lime-600)
    }

  .text_lime\.700 {
    color: var(--colors-lime-700)
    }

  .text_lime\.800 {
    color: var(--colors-lime-800)
    }

  .text_lime\.900 {
    color: var(--colors-lime-900)
    }

  .text_lime\.950 {
    color: var(--colors-lime-950)
    }

  .text_yellow\.50 {
    color: var(--colors-yellow-50)
    }

  .text_yellow\.100 {
    color: var(--colors-yellow-100)
    }

  .text_yellow\.200 {
    color: var(--colors-yellow-200)
    }

  .text_yellow\.300 {
    color: var(--colors-yellow-300)
    }

  .text_yellow\.400 {
    color: var(--colors-yellow-400)
    }

  .text_yellow\.500 {
    color: var(--colors-yellow-500)
    }

  .text_yellow\.600 {
    color: var(--colors-yellow-600)
    }

  .text_yellow\.700 {
    color: var(--colors-yellow-700)
    }

  .text_yellow\.800 {
    color: var(--colors-yellow-800)
    }

  .text_yellow\.900 {
    color: var(--colors-yellow-900)
    }

  .text_yellow\.950 {
    color: var(--colors-yellow-950)
    }

  .text_amber\.50 {
    color: var(--colors-amber-50)
    }

  .text_amber\.100 {
    color: var(--colors-amber-100)
    }

  .text_amber\.200 {
    color: var(--colors-amber-200)
    }

  .text_amber\.300 {
    color: var(--colors-amber-300)
    }

  .text_amber\.400 {
    color: var(--colors-amber-400)
    }

  .text_amber\.500 {
    color: var(--colors-amber-500)
    }

  .text_amber\.600 {
    color: var(--colors-amber-600)
    }

  .text_amber\.700 {
    color: var(--colors-amber-700)
    }

  .text_amber\.800 {
    color: var(--colors-amber-800)
    }

  .text_amber\.900 {
    color: var(--colors-amber-900)
    }

  .text_amber\.950 {
    color: var(--colors-amber-950)
    }

  .text_orange\.50 {
    color: var(--colors-orange-50)
    }

  .text_orange\.100 {
    color: var(--colors-orange-100)
    }

  .text_orange\.200 {
    color: var(--colors-orange-200)
    }

  .text_orange\.300 {
    color: var(--colors-orange-300)
    }

  .text_orange\.400 {
    color: var(--colors-orange-400)
    }

  .text_orange\.500 {
    color: var(--colors-orange-500)
    }

  .text_orange\.600 {
    color: var(--colors-orange-600)
    }

  .text_orange\.700 {
    color: var(--colors-orange-700)
    }

  .text_orange\.800 {
    color: var(--colors-orange-800)
    }

  .text_orange\.900 {
    color: var(--colors-orange-900)
    }

  .text_orange\.950 {
    color: var(--colors-orange-950)
    }

  .text_red\.50 {
    color: var(--colors-red-50)
    }

  .text_red\.100 {
    color: var(--colors-red-100)
    }

  .text_red\.200 {
    color: var(--colors-red-200)
    }

  .text_red\.300 {
    color: var(--colors-red-300)
    }

  .text_red\.400 {
    color: var(--colors-red-400)
    }

  .text_red\.500 {
    color: var(--colors-red-500)
    }

  .text_red\.600 {
    color: var(--colors-red-600)
    }

  .text_red\.700 {
    color: var(--colors-red-700)
    }

  .text_red\.800 {
    color: var(--colors-red-800)
    }

  .text_red\.900 {
    color: var(--colors-red-900)
    }

  .text_red\.950 {
    color: var(--colors-red-950)
    }

  .text_neutral\.50 {
    color: var(--colors-neutral-50)
    }

  .text_neutral\.100 {
    color: var(--colors-neutral-100)
    }

  .text_neutral\.200 {
    color: var(--colors-neutral-200)
    }

  .text_neutral\.300 {
    color: var(--colors-neutral-300)
    }

  .text_neutral\.400 {
    color: var(--colors-neutral-400)
    }

  .text_neutral\.500 {
    color: var(--colors-neutral-500)
    }

  .text_neutral\.600 {
    color: var(--colors-neutral-600)
    }

  .text_neutral\.700 {
    color: var(--colors-neutral-700)
    }

  .text_neutral\.800 {
    color: var(--colors-neutral-800)
    }

  .text_neutral\.900 {
    color: var(--colors-neutral-900)
    }

  .text_neutral\.950 {
    color: var(--colors-neutral-950)
    }

  .text_stone\.50 {
    color: var(--colors-stone-50)
    }

  .text_stone\.100 {
    color: var(--colors-stone-100)
    }

  .text_stone\.200 {
    color: var(--colors-stone-200)
    }

  .text_stone\.300 {
    color: var(--colors-stone-300)
    }

  .text_stone\.400 {
    color: var(--colors-stone-400)
    }

  .text_stone\.500 {
    color: var(--colors-stone-500)
    }

  .text_stone\.600 {
    color: var(--colors-stone-600)
    }

  .text_stone\.700 {
    color: var(--colors-stone-700)
    }

  .text_stone\.800 {
    color: var(--colors-stone-800)
    }

  .text_stone\.900 {
    color: var(--colors-stone-900)
    }

  .text_stone\.950 {
    color: var(--colors-stone-950)
    }

  .text_zinc\.50 {
    color: var(--colors-zinc-50)
    }

  .text_zinc\.100 {
    color: var(--colors-zinc-100)
    }

  .text_zinc\.200 {
    color: var(--colors-zinc-200)
    }

  .text_zinc\.300 {
    color: var(--colors-zinc-300)
    }

  .text_zinc\.400 {
    color: var(--colors-zinc-400)
    }

  .text_zinc\.500 {
    color: var(--colors-zinc-500)
    }

  .text_zinc\.600 {
    color: var(--colors-zinc-600)
    }

  .text_zinc\.700 {
    color: var(--colors-zinc-700)
    }

  .text_zinc\.800 {
    color: var(--colors-zinc-800)
    }

  .text_zinc\.900 {
    color: var(--colors-zinc-900)
    }

  .text_zinc\.950 {
    color: var(--colors-zinc-950)
    }

  .text_gray\.50 {
    color: var(--colors-gray-50)
    }

  .text_gray\.100 {
    color: var(--colors-gray-100)
    }

  .text_gray\.200 {
    color: var(--colors-gray-200)
    }

  .text_gray\.300 {
    color: var(--colors-gray-300)
    }

  .text_gray\.400 {
    color: var(--colors-gray-400)
    }

  .text_gray\.500 {
    color: var(--colors-gray-500)
    }

  .text_gray\.600 {
    color: var(--colors-gray-600)
    }

  .text_gray\.700 {
    color: var(--colors-gray-700)
    }

  .text_gray\.800 {
    color: var(--colors-gray-800)
    }

  .text_gray\.900 {
    color: var(--colors-gray-900)
    }

  .text_gray\.950 {
    color: var(--colors-gray-950)
    }

  .text_slate\.50 {
    color: var(--colors-slate-50)
    }

  .text_slate\.100 {
    color: var(--colors-slate-100)
    }

  .text_slate\.200 {
    color: var(--colors-slate-200)
    }

  .text_slate\.300 {
    color: var(--colors-slate-300)
    }

  .text_slate\.400 {
    color: var(--colors-slate-400)
    }

  .text_slate\.500 {
    color: var(--colors-slate-500)
    }

  .text_slate\.600 {
    color: var(--colors-slate-600)
    }

  .text_slate\.700 {
    color: var(--colors-slate-700)
    }

  .text_slate\.800 {
    color: var(--colors-slate-800)
    }

  .text_slate\.900 {
    color: var(--colors-slate-900)
    }

  .text_slate\.950 {
    color: var(--colors-slate-950)
    }

  .text_colorPalette\.50 {
    color: var(--colors-color-palette-50)
    }

  .text_colorPalette\.100 {
    color: var(--colors-color-palette-100)
    }

  .text_colorPalette\.200 {
    color: var(--colors-color-palette-200)
    }

  .text_colorPalette\.300 {
    color: var(--colors-color-palette-300)
    }

  .text_colorPalette\.400 {
    color: var(--colors-color-palette-400)
    }

  .text_colorPalette\.500 {
    color: var(--colors-color-palette-500)
    }

  .text_colorPalette\.600 {
    color: var(--colors-color-palette-600)
    }

  .text_colorPalette\.700 {
    color: var(--colors-color-palette-700)
    }

  .text_colorPalette\.800 {
    color: var(--colors-color-palette-800)
    }

  .text_colorPalette\.900 {
    color: var(--colors-color-palette-900)
    }

  .text_colorPalette\.950 {
    color: var(--colors-color-palette-950)
    }
}