.e-checkbox {
  --e-checkbox-input-w: theme('spacing.4');
  --e-checkbox-input-h: theme('spacing.4');

  --e-checkbox-color: theme('colors.white');
  --e-checkbox-bg-color: theme('colors.white');
  --e-checkbox-border-color: theme('colors.gray.300');
  --e-checkbox-text-color: inherit;

  display: inline-flex;
  align-items: center;
  cursor: pointer;
  color: var(--e-checkbox-text-color);
  font-size: theme('fontSize.sm.0');
  line-height: theme('fontSize.sm.1.lineHeight');

  &__input {
    width: var(--e-checkbox-input-w);
    height: var(--e-checkbox-input-h);
    position: relative;
  }
  &__original {
    background: none;
    position: absolute;
    inset: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
    @apply focus:ring-indigo-500;
  }
  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: theme('borderRadius.DEFAULT');
    color: var(--e-checkbox-color);
    border: 1px solid var(--e-checkbox-border-color);
    background-color: var(--e-checkbox-bg-color);
    transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
    > svg {
      display: block;
      width: 100%;
      height: 100%;
      opacity: 0;
    }
  }
  &.is-checked {
    .e-checkbox__inner {
      --e-checkbox-bg-color: theme('colors.indigo.500');
      --e-checkbox-border-color: theme('colors.indigo.500');
      > svg {
        opacity: 1;
      }
    }
  }
  &__label {
    margin-left: theme('spacing.2');
  }
  &.is-disabled {
    cursor: not-allowed;
    --e-checkbox-text-color: theme('colors.gray.400');
    .e-checkbox__original {
      cursor: not-allowed;
      &:focus-visible {
        box-shadow: none;
      }
    }
    .e-checkbox__inner {
      --e-checkbox-bg-color: theme('colors.gray.100');
    }
  }
  &.is-disabled.is-checked {
    .e-checkbox__inner {
      --e-checkbox-color: theme('colors.gray.400');
      --e-checkbox-bg-color: theme('colors.gray.100');
      --e-checkbox-border-color: theme('colors.gray.300');
    }
  }
}
