.el-row + .el-row {
  margin-top: 20px;
}

.el-col {
  border-radius: 4px;
}

.preview__demo {
  .el-col {
    .grid-content {
      border-radius: 4px;
      min-height: 36px;
      background: #99a9bf;
      text-align: center;
    }
    &:nth-child(even) {
      .grid-content {
        background: #d3dce6;
      }
    }
  }
}
.bg-purple-dark {
  background: #99a9bf;
}
.bg-purple {
  background: #d3dce6;
}
.bg-purple-light {
  background: #e5e9f2;
}

.row-bg {
  padding: 10px 0;
  background-color: #f9fafc;
}

#app {
  height: 100%;
}

// background-color: #fafafa;
code {
  color: #5e6d82;
  background-color: #e6effb;
  margin: 0 4px;
  display: inline-block;
  padding: 1px 5px;
  font-size: 12px;
  border-radius: 3px;
  height: 18px;
  line-height: 18px;
}

.demo {
  border: 1px solid #ebebeb;
  border-radius: 3px;
  transition: 0.2s;

  &:hover {
    box-shadow: 0 0 8px 0 rgba(232, 237, 250, 0.6), 0 2px 4px 0 rgba(232, 237, 250, 0.5);
  }

  > pre {
    display: none;
  }
  > p {
    padding: 20px;
    box-sizing: border-box;
    // border-top: 1px solid #ebebeb;
    // border-left: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    // border-radius: 3px;
    font-size: 14px;
    line-height: 22px;
    color: #666;
    word-break: break-word;
    margin: 0;
    background-color: #fff;
  }
}

.demo {
  .el-header,
  .el-footer {
    background-color: #b3c0d1;
    color: #333;
    text-align: center;
    line-height: 60px;
  }

  .el-aside {
    background-color: #d3dce6;
    color: #333;
    text-align: center;
    line-height: 200px;
  }

  .el-main {
    background-color: #e9eef3;
    color: #333;
    text-align: center;
    line-height: 160px;
  }

  .preview__demo {
    > .el-container {
      margin-bottom: 40px;
    }
    > .el-button-group {
      margin-right: 10px;
    }
    > .el-row {
      > .el-button {
        margin-right: 10px;
      }
    }
  }

  .el-container:nth-child(5) .el-aside,
  .el-container:nth-child(6) .el-aside {
    line-height: 260px;
  }

  .el-container:nth-child(7) .el-aside {
    line-height: 320px;
  }
}
