.z-input {
  // relative inline-flex w-full items-center rounded-md border text-sm shadow-sm
  position: relative;
  display: inline-flex;
  width: 100%;
  align-items: center;
  border-radius: 0.375rem;
  border: 1px solid #e5e7eb;
  font-size: 0.875rem;
  line-height: 1.25rem;
  appearance: none;
  outline: none;
  background: #fff;
  box-shadow: inset 0px 0px 0px 1px rgb(209, 213, 219);
  &:focus-within {
    box-shadow: inset 0px 0px 0px 2px var(--z-input-ring);
  }

  &--disable {
    // bg-gray-100 text-gray-400 cursor-not-allowed
    background: var(--disable-bg);
    color: var(--disable-color);
    cursor: not-allowed;
  }
  &_prefix,
  &_suffix {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 1 auto;
  }
  &_prefix {
    padding-left: 0.75rem;
  }
  &_suffix {
    padding-right: 0.75rem;
  }
  &_input {
    // inline-block flex-1 border-none bg-transparent px-3 text-sm read-only:cursor-pointer focus:outline-none disabled:cursor-not-allowed
    appearance: none;
    box-shadow: none;
    display: inline-block;
    flex: 1 1 auto;
    border: none;
    background: transparent;
    font-size: 0.875rem;
    line-height: 1.25rem;
    cursor: pointer;
    padding: 0.5rem 0.75rem;
    border-radius: 0;
    &:focus {
      outline: none;
      box-shadow: none;
    }
    &:disabled {
      cursor: not-allowed;
    }
  }
}
