/* @import './colors.css'; */

@theme {
  --color-base-border: var(--color-slate-200);
  --color-input: var(--color-slate-300);
  --color-mute: var(--color-slate-400);
  --color-background: var(--color-slate-50);

  --color-default: var(--color-slate-950);
  --color-default-hover: var(--color-slate-900);
  --color-default-text: var(--color-white);
  --color-default-subtle: var(--color-white);
  --color-default-subtle-hover: var(--color-slate-50);
  --color-default-subtle-text: var(--color-slate-700);

  --color-primary: var(--color-indigo-600);
  --color-primary-hover: var(--color-indigo-500);
  --color-primary-text: var(--color-white);
  --color-primary-subtle: var(--color-indigo-50);
  --color-primary-subtle-hover: var(--color-indigo-100);
  --color-primary-subtle-text: var(--color-indigo-700);

  --color-success: var(--color-green-600);
  --color-success-hover: var(--color-green-500);
  --color-success-text: var(--color-white);
  --color-success-subtle: var(--color-green-50);
  --color-success-subtle-hover: var(--color-green-100);
  --color-success-subtle-text: var(--color-green-700);

  --color-warning: var(--color-amber-600);
  --color-warning-hover: var(--color-amber-500);
  --color-warning-text: var(--color-white);
  --color-warning-subtle: var(--color-amber-50);
  --color-warning-subtle-hover: var(--color-amber-100);
  --color-warning-subtle-text: var(--color-amber-700);

  --color-danger: var(--color-red-600);
  --color-danger-hover: var(--color-red-500);
  --color-danger-text: var(--color-white);
  --color-danger-subtle: var(--color-red-50);
  --color-danger-subtle-hover: var(--color-red-100);
  --color-danger-subtle-text: var(--color-red-700);
}

.dark {
  --color-base-border: var(--color-slate-700);
  --color-background: var(--color-slate-950);
}
