:root {
  --e-alert-padding: 8px 16px;
  --e-alert-border-radius: var(--e-global-border-radius-base);

  --e-alert-color: var(--e-global-color-primary);
  --e-alert-close-color: var(--e-global-color-text-placeholder);
  --e-alert-background-color: var(--e-global-color-primary-lightest);

  --e-alert-icon-size: var(--e-global-font-size-large);
  --e-alert-icon-size-large: calc(var(--e-global-font-size-base) * 2);

  --e-alert-title-font-size: var(--e-global-font-size-base);
  --e-alert-description-font-size: var(--e-global-font-size-small);
  --e-alert-close-font-size: var(--e-global-font-size-large);
}
.el-alert {
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  opacity: 1;
  display: flex;
  align-items: flex-start;
  transition: opacity 0.2s;
  padding: var(--e-alert-padding);
  border-radius: var(--e-alert-border-radius);
  color: var(--e-alert-color);
  background-color: var(--e-alert-background-color);
  .el-alert__closebtn {
    color: var(--e-alert-close-color);
  }

  &.is-dark {
    --e-alert-color: var(--e-global-color-white);
    --e-alert-close-color: var(--e-global-color-white);
  }

  &--success {
    --e-alert-background-color: var(--e-global-color-success-lightest);
    --e-alert-color: var(--e-global-color-success);
    --e-alert-close-color: var(--e-global-color-success);

    &.is-dark {
      --e-alert-background-color: var(--e-global-color-success);
      --e-alert-color: var(--e-global-color-white);
      --e-alert-close-color: var(--e-global-color-white);
    }
  }

  &--info {
    --e-alert-background-color: var(--e-global-color-info-lightest);
    --e-alert-color: var(--e-global-color-info);
    --e-alert-close-color: var(--e-global-color-info);

    &.is-dark {
      --e-alert-background-color: var(--e-global-color-info);
      --e-alert-color: var(--e-global-color-white);
      --e-alert-close-color: var(--e-global-color-white);
    }
  }

  &--warning {
    --e-alert-background-color: var(--e-global-color-warning-lightest);
    --e-alert-color: var(--e-global-color-warning);
    --e-alert-close-color: var(--e-global-color-warning);

    &.is-dark {
      --e-alert-background-color: var(--e-global-color-warning);
      --e-alert-color: var(--e-global-color-white);
      --e-alert-close-color: var(--e-global-color-white);
    }
  }

  &--error {
    --e-alert-background-color: var(--e-global-color-danger-lightest);
    --e-alert-color: var(--e-global-color-danger);
    --e-alert-close-color: var(--e-global-color-danger);

    &.is-dark {
      --e-alert-background-color: var(--e-global-color-danger);
      --e-alert-color: var(--e-global-color-white);
      --e-alert-close-color: var(--e-global-color-white);
    }
  }

  &__icon {
    font-size: var(--e-alert-icon-size);
    width: var(--e-alert-icon-size);
    line-height: 1.4;
  }
  &.is-large {
    .el-alert__icon {
      font-size: var(--e-alert-icon-size-large);
      width: var(--e-alert-icon-size-large);
    }
  }
  &__content {
    display: table-cell;
    padding: 0 8px;
  }

  &__title {
    font-size: var(--e-alert-title-font-size);
    line-height: 18px;
  }

  &__description {
    font-size: var(--e-alert-description-font-size);
    margin: 5px 0 0 0;
  }

  &__closebtn {
    font-size: var(--e-alert-close-font-size);
    opacity: 1;
    line-height: 1;
    position: absolute;
    top: 12px;
    right: 15px;
    cursor: pointer;
  }
}

.el-alert-fade-enter,
.el-alert-fade-leave-active {
  opacity: 0;
}
