@use '../mixins/tools';
:root {
  --e-breadcrumb-color: var(--e-global-color-text-regular);
  --e-breadcrumb-font-size: var(--e-global-font-size-base);
}
.el-breadcrumb {
  font-size: var(--e-breadcrumb-font-size);
  line-height: 1;
  @include tools.clearfix();
}

.el-breadcrumb-item {
  &__inner {
    color: var(--e-breadcrumb-color);
    &.is-link,
    & a {
      font-weight: bold;
      text-decoration: none;
      transition: var(--e-global-transition-color);
      color: var(--e-global-color-text-primary);
      &:hover {
        color: var(--e-global-color-primary);
        cursor: pointer;
      }
    }
  }
  &:last-child {
    .el-breadcrumb-item__separator {
      display: none;
    }
  }
  &__separator {
    margin: 0 9px;
    font-weight: bold;
    color: var(--e-breadcrumb-color);

    &[class*='icon'] {
      margin: 0 6px;
      font-weight: normal;
    }
  }
}
