:root {
  --e-color-picker-border-color: var(--e-global-border-color-base);
  --e-color-picker-border-radius: var(--e-global-border-radius-base);
}

.el-color-picker {
  padding: 10px;
  width: fit-content;
  border: 1px solid var(--e-color-picker-border-color);
  border-radius: var(--e-color-picker-border-radius);
  &__main {
    display: flex;
    flex-wrap: nowrap;
  }
}

.el-color-panel {
  position: relative;
  width: 280px;
  height: 180px;
  margin-bottom: 10px;
  &__white,
  &__black {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  &__white {
    background: linear-gradient(90deg, #fff, hsla(0, 0%, 100%, 0));
  }
  &__black {
    background: linear-gradient(0deg, #000, transparent);
  }
  &__cursor {
    cursor: pointer;
    position: absolute;
    width: 8px;
    height: 8px;
    box-shadow: 0 0 0 1.5px #fff, inset 0 0 1px 1px rgb(0 0 0 / 30%), 0 0 1px 2px rgb(0 0 0 / 40%);
    border-radius: 50%;
    transform: translate(-4px, -4px);
  }
}

.el-color-hue-slider {
  margin-left: 10px;
  position: relative;
  box-sizing: border-box;
  background-color: red;
  width: 12px;
  height: 180px;
  padding: 2px 0;
  &__bar {
    position: relative;
    height: 100%;
    background: linear-gradient(180deg, red 0, #ff0 17%, #0f0 33%, #0ff 50%, #00f 67%, #f0f 83%, red);
  }
  &__thumb {
    position: absolute;
    cursor: pointer;
    box-sizing: border-box;
    left: 0;
    top: 0;
    width: 100%;
    height: 4px;
    border-radius: 1px;
    background: #fff;
    border: 1px solid #f0f0f0;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
    z-index: 1;
  }
}
.el-color-alpha-slider {
  position: relative;
  box-sizing: border-box;
  width: 280px;
  height: 12px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAIAAADZF8uwAAAAGUlEQVQYV2M4gwH+YwCGIasIUwhT25BVBADtzYNYrHvv4gAAAABJRU5ErkJggg==);
  &__bar {
    position: relative;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    height: 100%;
  }
  &__thumb {
    position: absolute;
    cursor: pointer;
    box-sizing: border-box;
    left: 0;
    top: 0;
    width: 4px;
    height: 100%;
    border-radius: 1px;
    background: #fff;
    border: 1px solid #f0f0f0;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
    z-index: 1;
  }
}
