@font-face {
  font-family: 'el-icon';
  src: url('./../../src/components/Icon/fonts/el-icon.woff2') format('woff2');
  font-weight: normal;
  font-display: auto;
  font-style: normal;
}

[class^='el-icon-'],
[class*=' el-icon-'] {
  font-family: el-icon !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: baseline;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^='el-icon-']::before,
[class*=' el-icon-']::before {
  position: relative;
  // top: -0.056em;
}
.el-icon--spin {
  animation: rotating 1s linear infinite;
}

@keyframes elIconCircle {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
@import './../../components/Icon/fonts/el-icon.scss';
