:root {
  --e-input-group-border-radius: var(--e-global-border-radius-base);
}
.el-input-group {
  display: inline-block;
  white-space: nowrap;
  position: relative;
  > .el-button,
  > .el-input,
  > .el-select {
    border-radius: 0;
    .el-input,
    input {
      border-radius: 0;
    }
    &:not(:last-child) {
      margin-right: -1px;
    }
  }
  > :first-child {
    border-top-left-radius: var(--e-input-group-border-radius);
    border-bottom-left-radius: var(--e-input-group-border-radius);
    .el-input,
    input {
      border-top-left-radius: var(--e-input-group-border-radius);
      border-bottom-left-radius: var(--e-input-group-border-radius);
    }
  }
  > :last-child {
    border-top-right-radius: var(--e-input-group-border-radius);
    border-bottom-right-radius: var(--e-input-group-border-radius);
    .el-input,
    input {
      border-top-right-radius: var(--e-input-group-border-radius);
      border-bottom-right-radius: var(--e-input-group-border-radius);
    }
  }
}
