@use '../var';
@use '../mixins/tools';

.el-input {
  position: relative;
  font-size: var.$global-font-size-base;
  display: inline-block;
  border-radius: var.$input-border-radius;
  border: 1px solid var.$input-border-color;
  background-color: var.$input-background-color;
  &:hover {
    border-color: var.$input-hover-border-color;
  }

  &:focus,
  &.is-focus {
    border-color: var.$input-focus-border-color;
    z-index: 1;
  }
  // width: 100%;
  // @include tools.scroll-bar();
  &__prefix,
  &__suffix {
    position: absolute;
    height: 2.142857143em;
    width: 2.142857143em;
    color: var.$input-icon-color;
    line-height: var.$input-height - 2;
    text-align: center;
    // pointer-events: none;
    position: absolute;
    top: 0;
    z-index: 1;
  }
  &__prefix {
    left: 0;
  }
  &__suffix {
    right: 0;
    &--close {
      cursor: pointer;
    }
  }
  &.has-prefix {
    .el-input__inner {
      padding-left: 2.142857143em;
    }
  }
  &.has-suffix {
    .el-input__inner {
      padding-right: 2.142857143em;
    }
  }
  &__inner {
    -webkit-appearance: none;
    background-image: none;
    border-radius: var.$input-border-radius;
    box-sizing: border-box;
    display: inline-block;
    height: var.$input-height - 2;
    color: var.$input-font-color;
    border: 0 !important;
    outline: none !important;
    line-height: var.$input-height - 2;
    padding: 0 15px;
    transition: var.$global-transition-border;
    width: 100%;
    &::placeholder {
      color: var.$input-placeholder-color;
    }
  }
}
