@use '../mixins/tools';

:root {
  --e-input-height: var(--e-global-row-height);
  --e-input-font-size: var(--e-global-font-size-base);
  --e-input-border-radius: var(--e-global-border-radius-base);

  --e-input-font-color: var(--e-global-color-text-regular);
  --e-input-placeholder-color: var(--e-global-color-text-placeholder);
  --e-input-background-color: var(--e-global-color-white);

  --e-input-border-color: var(--e-global-border-color-base);
  --e-input-hover-border-color: var(--e-global-border-color-hover);
  --e-input-focus-border-color: var(--e-global-color-primary);

  --e-input-icon-color: var(--e-global-color-text-placeholder);
}
.el-input {
  position: relative;
  font-size: var(--e-input-font-size);
  display: inline-block;
  border-radius: var(--e-input-border-radius);
  border: 1px solid var(--e-input-border-color);
  background-color: var(--e-input-background-color);
  &:hover {
    border-color: var(--e-input-hover-border-color);
  }

  &:focus,
  &.is-focus {
    border-color: var(--e-input-focus-border-color);
    z-index: 1;
  }
  // width: 100%;
  // @include tools.scroll-bar();
  &__prefix,
  &__suffix {
    position: absolute;
    height: 2.142857143em;
    width: 2.142857143em;
    color: var(--e-input-icon-color);
    line-height: calc(var(--e-input-height) - 2px);
    text-align: center;
    // pointer-events: none;
    top: 0;
    z-index: 1;
  }
  &__prefix {
    left: 0;
  }
  &__suffix {
    right: 0;
    &--close {
      cursor: pointer;
    }
  }
  &.has-prefix {
    .el-input__inner {
      padding-left: 2.142857143em;
    }
  }
  &.has-suffix {
    .el-input__inner {
      padding-right: 2.142857143em;
    }
  }
  &__inner {
    -webkit-appearance: none;
    background-image: none;
    border-radius: var(--e-input-border-radius);
    box-sizing: border-box;
    display: inline-block;
    height: calc(var(--e-input-height) - 2px);
    color: var(--e-input-color);
    border: 0 !important;
    outline: none !important;
    line-height: calc(var(--e-input-height) - 2px);
    padding: 0 15px;
    transition: var(--e-global-transition-border);
    width: 100%;
    &::placeholder {
      color: var(--e-input-placeholder-color);
    }
  }
}
