@use '../var';

.el-layout {
  display: flex;
  flex: auto;
  flex-direction: column;
  min-height: 0;

  &.is-horizontal {
    flex-direction: column;
    flex-direction: row;
    > .el-layout,
    > .el-layout-content {
      overflow-x: hidden;
    }
  }
}

.el-header {
  padding: var.$layout-header-padding;
  flex: 0 0 auto;
}

.el-footer {
  padding: var.$layout-footer-padding;
  flex: 0 0 auto;
}

.el-aside {
  position: relative;
  min-width: 0;
  transition: all 0.2s;
  overflow-y: auto;
  overflow-x: hidden;
  flex: none;
}

.el-main {
  display: block;
  flex: auto;
  min-height: 0;
}
