:root {
  --e-link-font-size: var(--e-global-font-size-base);
  --e-link-color: var(--e-global-color-text-regular);
  --e-link-active-color: var(--e-global-color-primary);
  --e-link-disabled-color: var(--e-global-disabled-font-color);
}
.el-link {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  position: relative;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  font-size: var(--e-link-font-size);
  color: var(--e-link-color);

  &:hover,
  &:focus {
    outline: none;
    text-decoration: none;
    color: var(--e-link-active-color);
  }

  &.is-underline {
    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      height: 0;
      bottom: 0;
      border: 1px solid var(--e-link-color);
    }
    &:hover {
      &:after {
        border-color: 1px solid var(--e-link-active-color);
      }
    }
  }

  &.is-disabled {
    cursor: not-allowed;
    color: var(--e-link-disabled-color);
  }

  & [class*='el-icon-'] {
    & + span {
      margin-left: 5px;
    }
  }

  &--primary {
    --e-link-color: var(--e-global-color-primary);
    --e-link-active-color: var(--e-global-color-primary-dark);
    --e-link-disabled-color: var(--e-global-color-primary-lighter);
  }
  &--success {
    --e-link-color: var(--e-global-color-success);
    --e-link-active-color: var(--e-global-color-success-dark);
    --e-link-disabled-color: var(--e-global-color-success-lighter);
  }
  &--info {
    --e-link-color: var(--e-global-color-info);
    --e-link-active-color: var(--e-global-color-info-dark);
    --e-link-disabled-color: var(--e-global-color-info-lighter);
  }
  &--warning {
    --e-link-color: var(--e-global-color-warning);
    --e-link-active-color: var(--e-global-color-warning-dark);
    --e-link-disabled-color: var(--e-global-color-warning-lighter);
  }
  &--danger {
    --e-link-color: var(--e-global-color-danger);
    --e-link-active-color: var(--e-global-color-danger-dark);
    --e-link-disabled-color: var(--e-global-color-danger-lighter);
  }
}
