:root {
  --e-menu-color: var(--e-global-color-text-primary);
  --e-menu-font-size: var(--e-global-font-size-base);
  --e-menu-horizontal-height: 60px;

  --e-menu-group-title-color: var(--e-global-color-text-placeholder);

  --e-menu-dropdown-border-radius: var(--e-global-border-radius-base);
}

@mixin el-menu-item--vertical($height) {
  display: block;
  position: relative;
  height: $height;
  line-height: $height;
  padding: 0 20px;
  list-style: none;
  box-sizing: border-box;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: var(--e-menu-font-size);
  color: var(--e-menu-color);
  transition: var(--e-global-transition-all);
  border-right: 4px solid transparent;
  &:hover,
  &:focus {
    outline: none;
  }
}
@mixin el-sub-menu__arrow {
  position: absolute;
  top: 50%;
  right: 20px;
  margin-top: -6px;
  transition: transform 0.3s;
  font-size: 12px;
  line-height: 12px;
  width: 12px;
  height: 12px;
}

.el-menu {
  list-style: none;
  position: relative;
  margin: 0;
  padding: 0;
  line-height: 50px;
  border: 0;
  box-shadow: none;
  background-color: transparent;
  text-align: left;
  .el-sub-menu {
    font-size: 0;
    line-height: 0;
  }
}
.el-sub-menu {
  &__body {
    padding: 0;
    margin: 0;
    list-style: none;
  }
}
.el-menu--horizontal {
  display: flex;
  .el-menu-item,
  .el-sub-menu__title {
    display: inline-block;
    position: relative;
    height: var(--e-menu-horizontal-height);
    line-height: var(--e-menu-horizontal-height);
    padding: 0 20px;
    list-style: none;
    box-sizing: border-box;
    white-space: nowrap;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: var(--e-menu-font-size);
    color: var(--e-menu-color);
    transition: var(--e-global-transition-all);
    border-bottom: 2px solid transparent;
    &:hover,
    &:focus {
      outline: none;
    }
  }
  .el-sub-menu__arrow {
    @include el-sub-menu__arrow();
  }
  .el-sub-menu {
    display: inline-block;
    position: relative;
    transition: var(--e-global-transition-all);
    &.is-opened {
      > .el-sub-menu__title > .el-sub-menu__arrow {
        transform: rotateZ(180deg);
      }
    }
  }
}

.el-menu--vertical,
.el-menu--popper {
  .el-menu-item,
  .el-sub-menu__title {
    @include el-menu-item--vertical(50px);
  }
  .el-sub-menu__arrow {
    @include el-sub-menu__arrow();
  }
  .el-sub-menu {
    position: relative;
    display: block;
    transition: var(--e-global-transition-all);

    &.is-opened {
      > .el-sub-menu__title > .el-sub-menu__arrow {
        transform: rotateZ(180deg);
      }
    }
  }
  .el-menu-item-group {
    &__title {
      padding: 6px 0 6px 20px;
      line-height: normal;
      font-size: 12px;
      color: var(--e-menu-group-title-color);
    }
    &__body {
      padding: 0;
      list-style: none;
    }
  }
}

.el-popper.el-sub-menu {
  position: absolute;
  // border-radius: 3px;
  .el-sub-menu__body {
    overflow: hidden;
    border-radius: var(--e-menu-dropdown-border-radius);
  }
  .el-menu-item,
  .el-sub-menu__title {
    @include el-menu-item--vertical(40px);
    border-right: none;
    padding: 0 30px 0 20px;
  }
  .el-sub-menu__arrow {
    @include el-sub-menu__arrow();
    right: 8px;
  }
  .el-sub-menu.is-opened {
    .el-sub-menu__title > .el-sub-menu__arrow {
      transform: rotateZ(180deg);
    }
  }
  .el-menu-item-group {
    &__title {
      padding: 10px 0 6px 20px;
      line-height: normal;
      font-size: 10px;
      color: var(--e-menu-group-title-color);
    }
    &__body {
      padding: 0;
      margin: 0;
      list-style: none;
    }
  }
}
