@use '../mixins/tools';

:root {
  --e-pagination-font-size: var(--e-global-font-size-base);
  --e-pagination-color: var(--e-global-color-text-regular);

  --e-pagination-item-width: var(--e-global-row-height);
  --e-pagination-item-height: var(--e-global-row-height);

  --e-pagination-item-color: var(--e-global-color-text-primary);
  --e-pagination-item-background-color: var(--e-global-color-white);
  --e-pagination-item-border-color: var(--e-global-border-color-light);
  --e-pagination-item-border-radius: var(--e-global-border-radius-base);
  --e-pagination-item-active-color: var(--e-global-color-primary);
  --e-pagination-item-active-border-color: var(--e-global-color-primary);
  --e-pagination-item-disabled-color: var(--e-global-disabled-font-color);
  --e-pagination-item-disabled-background-color: var(--e-global-disabled-background-color);
  --e-pagination-item-disabled-border-color: var(--e-global-disabled-border-color);
}
.el-pagination {
  white-space: nowrap;
  padding: 2px 5px;
  font-size: var(--e-pagination-font-size);
  color: var(--e-pagination-color);
  // font-weight: bold;
  @include tools.clearfix();
  &__slot {
    display: inline-block;
    vertical-align: top;
    height: var(--e-pagination-item-height);
    line-height: var(--e-pagination-item-height);
    padding: 0 10px;
  }
  .el-pager {
    user-select: none;
    list-style: none;
    display: inline-block;
    vertical-align: top;
    padding: 0;
    margin: 0;
    font-size: var(--e-pagination-font-size);
    color: var(--e-pagination-color);
    .more::before {
      line-height: 30px;
    }

    li {
      padding: 0 4px;
      background: var(--e-pagination-item-background-color);
      vertical-align: top;
      display: inline-block;
      min-width: var(--e-pagination-item-width);
      height: var(--e-pagination-item-height);
      line-height: calc(var(--e-pagination-item-height) - 2px);
      border: 1px solid var(--e-pagination-item-border-color);
      border-radius: var(--e-pagination-item-border-radius);
      cursor: pointer;
      box-sizing: border-box;
      text-align: center;
      margin: 0;
      transition: all 0.2 ease-in-out;
      + li {
        margin-left: 6px;
      }
      &:hover {
        color: var(--e-pagination-item-active-color);
        border-color: var(--e-pagination-item-active-border-color);
      }

      &.is-active {
        color: var(--e-pagination-item-active-color);
        border-color: var(--e-pagination-item-active-border-color);
        cursor: default;
      }
      &.is-disabled {
        color: var(--e-pagination-item-disabled-color);
        background-color: var(--e-pagination-item-disabled-background-color);
        border-color: var(--e-pagination-item-disabled-border-color);
        cursor: not-allowed;
      }

      &.more {
        border-color: transparent;
        > .el-icon:last-child {
          display: none;
        }
        &:hover {
          > .el-icon:first-child {
            display: none;
          }
          > .el-icon:last-child {
            display: inline-block;
          }
        }
      }
    }
  }
}
