:root {
  --e-popover-padding: 15px;
  --e-popover-background-color: var(--e-global-color-white);
  --e-popover-border-color: var(--e-global-border-color-lighter);
  --e-popover-color: var(--e-global-color-text-regular);
  --e-popover-font-size: var(--e-global-font-size-base);
  --e-popover-index: var(--e-global-index-popper);

  --e-popover-title-font-size: var(--e-global-font-size-large);
  --e-popover-title-color: var(--e-global-color-text-primary);
}
.el-popover {
  position: absolute;
  background: var(--e-popover-background-color);
  min-width: 150px;
  border-radius: 4px;
  border: 1px solid var(--e-popover-border-color);
  padding: var(--e-popover-padding);
  line-height: 1.4;
  text-align: justify;
  font-size: var(--e-popover-font-size);
  color: var(--e-popover-color);
  box-shadow: var(--e-global-box-shadow-light);
  z-index: var(--e-popover-index);
  word-break: break-all;

  &__title {
    color: var(--e-popover-title-color);
    font-size: var(--e-popover-title-font-size);
    line-height: 1;
    margin-bottom: 12px;
  }

  &__reference {
    &:focus:not(.focusing),
    &:focus:hover {
      outline-width: 0;
    }
  }

  &:focus:active,
  &:focus {
    outline-width: 0;
  }
}
