@use '../var';

.el-popper {
  position: absolute;
  background-color: var.$popper-background-color;
  box-shadow: var.$global-box-shadow-base;
  border-radius: var.$global-border-radius-small;
  &[data-show] {
    display: block;
  }

  &__arrow,
  &__arrow-shadow {
    border-width: var.$popper-arrow-size;
    width: var.$popper-arrow-size;
    height: var.$popper-arrow-size;
    border-style: solid;
    background-color: transparent;
    border-color: transparent;
  }
  &__arrow-shadow {
    border-color: transparent;
    filter: drop-shadow(0 2px 12px rgba(0, 0, 0, 0.03));
  }
  &[data-popper-placement^='top'] {
    margin-bottom: var.$popper-gutter;
    .el-popper__arrow {
      bottom: var.$popper-arrow-size * -1 + 1;
      border-top-color: var.$popper-background-color;
      border-bottom-width: 0;
    }
    .el-popper__arrow-shadow {
      bottom: var.$popper-arrow-size * -1;
      border-top-color: var.$popper-border-color;
      border-bottom-width: 0;
    }
  }

  &[data-popper-placement^='bottom'] {
    margin-top: var.$popper-gutter;
    .el-popper__arrow {
      top: var.$popper-arrow-size * -1 + 1;
      border-bottom-color: var.$popper-background-color;
      border-top-width: 0;
    }
    .el-popper__arrow-shadow {
      top: var.$popper-arrow-size * -1;
      border-bottom-color: var.$popper-border-color;
      border-top-width: 0;
    }
  }

  &[data-popper-placement^='right'] {
    margin-left: var.$popper-gutter;
    .el-popper__arrow {
      left: var.$popper-arrow-size * -1 + 1;
      border-right-color: var.$popper-background-color;
      border-left-width: 0;
    }
    .el-popper__arrow-shadow {
      left: var.$popper-arrow-size * -1;
      border-right-color: var.$popper-border-color;
      border-left-width: 0;
    }
  }

  &[data-popper-placement^='left'] {
    margin-right: var.$popper-gutter;
    .el-popper__arrow {
      right: var.$popper-arrow-size * -1 + 1;
      border-left-color: var.$popper-background-color;
      border-right-width: 0;
    }
    .el-popper__arrow-shadow {
      right: var.$popper-arrow-size * -1;
      border-left-color: var.$popper-border-color;
      border-right-width: 0;
    }
  }
}

.el-popper-fade-enter-active,
.el-popper-fade-leave-active {
  transition: opacity 200ms linear;
}
.el-popper-fade-enter-from,
.el-popper-fade-leave-to {
  opacity: 0;
}
