:root {
  --e-radio-color: var(--e-global-color-text-regular);
  --e-radio-font-size: var(--e-global-font-size-base);

  --e-radio-input-border: var(--e-global-border-color-base);
  --e-radio-input-background-color: var(--e-global-color-white);
  --e-radio-input-width: var(--e-global-font-size-base);
  --e-radio-input-height: var(--e-global-font-size-base);
  --e-radio-icon-color: var(--e-global-color-white);

  --e-radio-checked-color: var(--e-global-color-primary);

  --e-radio-disabled-color: var(--e-global-disabled-font-color);
  --e-radio-disabled-input-border: var(--e-global-disabled-border-color);
  --e-radio-disabled-input-background-color: var(--e-global-disabled-background-color);
  --e-radio-disabled-icon-color: var(--e-global-disabled-font-color);
}
.el-radio {
  color: var(--e-radio-color);
  font-weight: normal;
  line-height: 1;
  position: relative;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  outline: none;
  font-size: var(--e-radio-font-size);
  margin-right: 20px;
  user-select: none;
  &:last-child {
    margin-right: 0;
  }
  &__input {
    display: inline-block;
    position: relative;
    appearance: none;
    outline: none;
    vertical-align: middle;
    box-sizing: border-box;
    top: -1px;
    margin: 0;
    cursor: inherit;
    width: var(--e-radio-input-width);
    height: var(--e-radio-input-height);
    border: 1px solid var(--e-radio-input-border);
    background-color: var(--e-radio-input-background-color);
    border-radius: 100%;
    transition: border-color 0.25s cubic-bezier(0.71, -0.46, 0.29, 1.46),
      background-color 0.25s cubic-bezier(0.71, -0.46, 0.29, 1.46);
    &::before {
      content: '';
      position: absolute;
      display: block;
      box-sizing: border-box;
      background-color: var(--e-radio-icon-color);
      width: 4px;
      height: 4px;
      border-radius: 100%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) scale(0);
      transition: transform 0.15s ease-in;
    }
    &:checked {
      &::before {
        transform: translate(-50%, -50%) scale(1);
      }
    }
  }
  &__label {
    display: inline-block;
    padding-left: 10px;
    font-size: var(--e-radio-font-size);
  }
  &.is-checked {
    --e-radio-input-border: var(--e-radio-checked-color);
    --e-radio-input-background-color: var(--e-radio-checked-color);
  }
  &.is-disabled {
    --e-radio-color: var(--e-radio-disabled-color);
    --e-radio-input-border: var(--e-radio-disabled-input-border);
    --e-radio-input-background-color: var(--e-radio-disabled-input-background-color);
    --e-radio-icon-color: var(--e-radio-disabled-icon-color);
    cursor: not-allowed;
  }
}

.el-radio-group {
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
  font-size: 0;
}
