@use '../mixins/tools';
.el-row {
  display: flex;
  flex-flow: row wrap;
  @include tools.clearfix();
  &::before,
  &::after {
    display: flex;
  }

  &--no-wrap {
    flex-wrap: nowrap;
  }

  &--start {
    justify-content: flex-start;
  }
  &--center {
    justify-content: center;
  }
  &--end {
    justify-content: flex-end;
  }
  &--space-between {
    justify-content: space-between;
  }
  &--space-around {
    justify-content: space-around;
  }

  &--top {
    align-items: flex-start;
  }
  &--middle {
    align-items: center;
  }
  &--bottom {
    align-items: flex-end;
  }
}
