@use '../mixins/tools';

:root {
  --e-select-font-size: var(--e-global-font-size-base);

  --e-select-option-color: var(--e-global-color-text-regular);
  --e-select-option-height: var(--e-global-row-height);

  --e-select-option-hover-background: var(--e-global-background-color-base);
  --e-select-option-selected-color: var(--e-global-color-primary);
  --e-select-option-selected-background: var(--e-global-background-color-base);

  --e-select-option-disabled-color: var(--e-global-disabled-font-color);
  --e-select-option-disabled-background: var(--e-global-color-white);
  // =================================================
  // SelectBox
  // =================================================
  --e-select-box-background-color: var(--e-global-color-white);
  // =================================================
  // SelectDorpdown
  // =================================================
  --e-select-dropdown-border-color: var(--e-global-border-color-light);
  --e-select-dropdown-border-radius: var(--e-global-border-radius-base);
  --e-select-dropdown-shadow: var(--e-global-box-shadow-light);
}
.el-select {
  display: inline-block;
  .el-input__inner {
    cursor: pointer;
  }
}

.el-select-dropdown-popper {
  border: 1px solid var(--e-select-dropdown-border-color);
  border-radius: var(--e-select-dropdown-border-radius);
  box-shadow: var(--e-select-dropdown-shadow);
  z-index: calc(var(--e-global-index-popper) + 1);
}
.el-select-box {
  background-color: var(--e-select-box-background-color);
  margin: 5px 0;
  list-style: none;
  box-sizing: border-box;
  padding: 0;
  &.is-plain {
    margin: 0;
    border: 1px solid var(--e-select-dropdown-border-color);
    border-radius: var(--e-select-dropdown-border-radius);
  }
  &__icon {
    transition: var(--e-global-transition-all);
    &.is-open {
      transform: rotateZ(180deg);
    }
  }
}
.el-select-option {
  font-size: var(--e-select-font-size);
  padding: 0 20px;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--e-select-option-color);
  height: var(--e-select-option-height);
  line-height: var(--e-select-option-height);
  box-sizing: border-box;
  cursor: pointer;

  &.hover,
  &:hover {
    background-color: var(--e-select-option-hover-background);
  }

  &.is-selected {
    color: var(--e-select-option-selected-color);
    // background-color: var.$select-option-selected-background;
  }
  &.is-multiple {
    padding-right: var(--e-select-option-height);
    &.is-selected {
      .el-select-option__checked {
        display: block;
      }
    }
  }
  &.is-disabled {
    color: var(--e-select-option-disabled-color);
    cursor: not-allowed;

    &:hover {
      background-color: var(--e-select-option-disabled-background);
    }
  }

  &__checked {
    position: absolute;
    height: var(--e-select-option-height);
    width: var(--e-select-option-height);
    color: var(--e-select-option-selected-color);
    font-size: calc(var(--e-select-font-size) + 2);
    text-align: center;
    // padding-right: 20px;
    display: none;
    top: 0;
    right: 0;
  }
}
