@use '../var';
@use '../mixins/tools';

.el-select {
  display: inline-block;
  .el-input__inner {
    cursor: pointer;
  }
}

.el-select-dropdown-popper {
  border: 1px solid var.$select-dropdown-border-color;
  border-radius: var.$select-dropdown-border-radius;
  box-shadow: var.$select-dropdown-shadow;
  z-index: var.$global-index-popper + 1;
}
.el-select-dropdown {
  background-color: var.$select-dropdown-background-color;
  margin: 5px 0;
  list-style: none;
  box-sizing: border-box;
  padding: 0;
  &__icon {
    transition: var.$global-transition-all;
    &.is-open {
      transform: rotateZ(180deg);
    }
  }
  // &.is-multiple {
  //   & .el-select-dropdown__item.selected {
  //     color: $--select-option-selected-font-color;
  //     background-color: $--select-dropdown-background;

  //     &.hover {
  //       background-color: $--select-option-hover-background;
  //     }

  //     &::after {
  //       position: absolute;
  //       right: 20px;
  //       font-family: 'element-icons';
  //       content: '\e6da';
  //       font-size: 12px;
  //       font-weight: bold;
  //       -webkit-font-smoothing: antialiased;
  //       -moz-osx-font-smoothing: grayscale;
  //     }
  //   }
  // }

  // .el-scrollbar.is-empty .el-select-dropdown__list {
  //   padding: 0;
  // }

  // &__empty {
  //   padding: $--select-dropdown-empty-padding;
  //   margin: 0;
  //   text-align: center;
  //   color: $--select-dropdown-empty-color;
  //   font-size: $--select-font-size;
  // }

  // &__wrap {
  //   max-height: $--select-dropdown-max-height;
  // }

  // &__list {
  //   list-style: none;
  //   padding: $--select-dropdown-padding;
  //   margin: 0;
  //   box-sizing: border-box;
  // }
}
.el-select-option {
  font-size: var.$select-font-size;
  padding: 0 20px;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var.$select-option-color;
  height: var.$select-option-height;
  line-height: var.$select-option-height;
  box-sizing: border-box;
  cursor: pointer;

  &.is-disabled {
    color: var.$select-option-disabled-color;
    cursor: not-allowed;

    &:hover {
      background-color: var.$color-white;
    }
  }

  &.hover,
  &:hover {
    background-color: var.$select-option-hover-background;
  }

  &.is-selected {
    color: var.$select-option-selected-font-color;
    // background-color: var.$select-option-selected-background;
  }
  &.is-multiple {
    padding-right: var.$select-option-height;
    &.is-selected {
      .el-select-option__checked {
        display: block;
      }
    }
  }
  &__checked {
    position: absolute;
    height: var.$select-option-height;
    width: var.$select-option-height;
    color: var.$select-option-selected-font-color;
    font-size: var.$select-font-size + 2;
    text-align: center;
    // padding-right: 20px;
    display: none;
    top: 0;
    right: 0;
  }
}
