:root {
  --e-tooltip-padding: 10px;
  --e-tooltip-color: var(--e-global-color-white);
  --e-tooltip-font-size: var(--e-global-font-size-small);

  --e-tooltip-index: var(--e-global-index-popper);
}
.el-tooltip {
  --e-popper-background-color: var(--e-global-color-text-primary);
  border-radius: 4px;
  padding: var(--e-tooltip-padding);
  z-index: var(--e-tooltip-index);
  font-size: var(--e-tooltip-font-size);
  line-height: 1.2;
  min-width: 10px;
  word-wrap: break-word;
  color: var(--e-tooltip-color);
  &:focus:not(.focusing),
  &:focus:hover {
    outline-width: 0;
  }
}
