
.e-button-group {
  flex-wrap: nowrap;
  display: inline-flex;
  position: relative;
  > .e-button{
    @apply rounded-none first:rounded-l-md last:rounded-r-md focus:ring-0;
  
    &:hover {
      z-index: 1;
    }

    &:not(:first-child) {
      margin: 0 0 0 -1px;
    }
   
  }
}
