@import '../styles/var.css';

:root {
  --w-btn-text-color: theme('colors.gray.700');
  --w-btn-bg-color: theme('colors.gray.300');
  --w-btn-border-color: theme('colors.gray.300');

  --w-btn-text-color--hover: var(--w-btn-text-color);
  --w-btn-bg-color--hover: var(--w-btn-bg-color);
  --w-btn-border-color--hover: var(--w-btn-border-color);

  --w-btn-outline-color: var(--w-btn-bg-color);

  --w-btn-height: calc(2.25rem + 2px);
}

.w-btn {
  @apply: inline-flex rounded-md cursor-pointer items-center justify-center text-center font-medium border border-transparent dark:ring-offset-gray-900;

  --w-btn-text-color--hover: var(--w-btn-text-color);
  --w-btn-bg-color--hover: var(--w-btn-bg-color);
  --w-btn-border-color--hover: var(--w-btn-border-color);

  color: var(--w-btn-text-color);
  background-color: var(--w-btn-bg-color);
  border-color: var(--w-btn-border-color);

  height: var(--w-btn-height);
  &:hover {
    color: var(--w-btn-text-color--hover);
    background-color: var(--w-btn-bg-color--hover);
    border-color: var(--w-btn-border-color--hover);
  }
  &:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
  }

  // &-normal {
  //   --w-btn-bg-color: var(--w-color-white);
  //   --w-btn-border-color: var(--w-color-gray-200);

  //   --w-btn-bg-color--hover: var(--w-color-gray-50);
  //   --w-btn-outline-color: theme('colors.indigo.500');
  // }
  &-normal {
    --w-btn-text-color: theme('colors.white');
    --w-btn-bg-color: theme('colors.gray.500');
    --w-btn-border-color: transparent;

    --w-btn-bg-color--hover: theme('colors.gray.600');
    --w-btn-outline-color: theme('colors.gray.500');
  }
  &-primary {
    --w-btn-text-color: theme('colors.white');
    --w-btn-bg-color: theme('colors.indigo.500');
    --w-btn-border-color: transparent;

    --w-btn-bg-color--hover: theme('colors.indigo.600');
    --w-btn-outline-color: theme('colors.indigo.500');
  }
  &-success {
    --w-btn-text-color: theme('colors.white');
    --w-btn-bg-color: theme('colors.green.500');
    --w-btn-border-color: theme('colors.green.500');
    --w-btn-bg-color--hover: theme('colors.green.600');
    --w-btn-outline-color: theme('colors.green.500');
  }
  &-warning {
    --w-btn-text-color: theme('colors.white');
    --w-btn-bg-color: theme('colors.amber.500');
    --w-btn-border-color: theme('colors.amber.500');
    --w-btn-bg-color--hover: theme('colors.amber.600');
    --w-btn-outline-color: theme('colors.amber.500');
  }
  &-error {
    --w-btn-text-color: theme('colors.white');
    --w-btn-bg-color: theme('colors.red.500');
    --w-btn-border-color: theme('colors.red.500');
    --w-btn-bg-color--hover: theme('colors.red.600');
    --w-btn-outline-color: theme('colors.red.500');
  }

  &-default,
  &-subtle {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    &:focus {
      box-shadow: 0 0 0 2px theme('colors.white'), 0 0 0 4px var(--w-btn-outline-color), 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    }
  }

  &-subtle {
    --w-btn-bg-color: theme('colors.gray.100');
    --w-btn-border-color: transparent;
    --w-btn-bg-color--hover: theme('colors.gray.200');

    &.w-btn-normal {
      --w-btn-text-color: theme('colors.gray.600');
      --w-btn-bg-color: theme('colors.gray.100');
      --w-btn-bg-color--hover: theme('colors.gray.200');
    }
    &.w-btn-primary {
      --w-btn-text-color: theme('colors.indigo.600');
      --w-btn-bg-color: theme('colors.indigo.100');
      --w-btn-bg-color--hover: theme('colors.indigo.200');
    }
    &.w-btn-success {
      --w-btn-text-color: theme('colors.green.600');
      --w-btn-bg-color: theme('colors.green.100');
      --w-btn-bg-color--hover: theme('colors.green.200');
    }
    &.w-btn-warning {
      --w-btn-text-color: theme('colors.amber.600');
      --w-btn-bg-color: theme('colors.amber.100');
      --w-btn-bg-color--hover: theme('colors.amber.200');
    }
    &.w-btn-error {
      --w-btn-text-color: theme('colors.red.600');
      --w-btn-bg-color: theme('colors.red.100');
      --w-btn-bg-color--hover: theme('colors.red.200');
    }
  }
  &-link {
    --w-btn-bg-color: transparent;
    --w-btn-border-color: transparent;
    text-decoration: underline;
    text-underline-offset: 2px;
    &:hover {
      background: transparent;
    }
    &.w-btn-primary {
      --w-btn-text-color: theme('colors.indigo.600');
      --w-btn-text-color--hover: theme('colors.indigo.700');
    }
    &.w-btn-success {
      --w-btn-text-color: theme('colors.green.600');
      --w-btn-text-color--hover: theme('colors.green.700');
    }
    &.w-btn-warning {
      --w-btn-text-color: theme('colors.amber.600');
      --w-btn-text-color--hover: theme('colors.amber.700');
    }
    &.w-btn-error {
      --w-btn-text-color: theme('colors.red.600');
      --w-btn-text-color--hover: theme('colors.red.700');
    }
  }

  &-xs {
    padding: 0.4rem 0.5rem;
    font-size: 0.75rem;
    line-height: 0.75rem;
    --w-btn-height: calc(1.75rem + 2px); // 30px / w-7 + 2px
  }
  &-sm {
    padding: 0.5rem 0.75rem;
    font-size: 0.75rem; // 12px
    line-height: 1rem; // 16px
    --w-btn-height: calc(2rem + 2px); // 34px / w-8 + 2px
  }
  &-md {
    padding: 0.5rem 1rem;
    font-size: 0.875rem; // 14px
    line-height: 1.25rem; // 20px
    --w-btn-height: calc(2.25rem + 2px); // 38px / w-9 + 2px
  }
  &-lg {
    padding: 0.5rem 1.25rem;
    font-size: 1rem; // 16px
    line-height: 1.5rem; // 24px
    --w-btn-height: calc(2.5rem + 2px); // 42px / w-10 + 2px
  }
  &-xl {
    padding: 0.625rem 1.5rem;
    font-size: 1.125rem; // 18px
    line-height: 1.75rem; // 28px
    --w-btn-height: calc(3rem + 2px); // 50px / w-12 + 2px
  }

  &.is-rounded {
    border-radius: 9999px;
  }
  &.is-square {
    width: var(--w-btn-height);
    padding-left: 0;
    padding-right: 0;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
  }
  &.is-block {
    width: 100%;
  }
  &.is-disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
    &:hover {
      text-decoration: none;
    }
  }

  > svg {
    width: 1em;
    height: 1em;
    transform: scale(1.25);
    + .w-btn_body {
      margin-inline-start: 0.4em;
    }
  }
  &_loading {
    @apply animate-spin;
  }
  &_body {
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    svg {
      display: inline-block;
      width: 1em;
      height: 1em;
    }
  }
}
