:root {
  --z-slate50: #f8fafc;
  --z-slate100: #f1f5f9;
  --z-slate200: #e2e8f0;
  --z-slate300: #cbd5e1;
  --z-slate400: #94a3b8;
  --z-slate500: #64748b;
  --z-slate600: #475569;
  --z-slate700: #334155;
  --z-slate800: #1e293b;
  --z-slate900: #0f172a;
  --z-slate950: #020617;
  --z-gray50: #f9fafb;
  --z-gray100: #f3f4f6;
  --z-gray200: #e5e7eb;
  --z-gray300: #d1d5db;
  --z-gray400: #9ca3af;
  --z-gray500: #6b7280;
  --z-gray600: #4b5563;
  --z-gray700: #374151;
  --z-gray800: #1f2937;
  --z-gray900: #111827;
  --z-gray950: #030712;
  --z-zinc50: #fafafa;
  --z-zinc100: #f4f4f5;
  --z-zinc200: #e4e4e7;
  --z-zinc300: #d4d4d8;
  --z-zinc400: #a1a1aa;
  --z-zinc500: #71717a;
  --z-zinc600: #52525b;
  --z-zinc700: #3f3f46;
  --z-zinc800: #27272a;
  --z-zinc900: #18181b;
  --z-zinc950: #09090b;
  --z-neutral50: #fafafa;
  --z-neutral100: #f5f5f5;
  --z-neutral200: #e5e5e5;
  --z-neutral300: #d4d4d4;
  --z-neutral400: #a3a3a3;
  --z-neutral500: #737373;
  --z-neutral600: #525252;
  --z-neutral700: #404040;
  --z-neutral800: #262626;
  --z-neutral900: #171717;
  --z-neutral950: #0a0a0a;
  --z-stone50: #fafaf9;
  --z-stone100: #f5f5f4;
  --z-stone200: #e7e5e4;
  --z-stone300: #d6d3d1;
  --z-stone400: #a8a29e;
  --z-stone500: #78716c;
  --z-stone600: #57534e;
  --z-stone700: #44403c;
  --z-stone800: #292524;
  --z-stone900: #1c1917;
  --z-stone950: #0c0a09;
  --z-red50: #fef2f2;
  --z-red100: #fee2e2;
  --z-red200: #fecaca;
  --z-red300: #fca5a5;
  --z-red400: #f87171;
  --z-red500: #ef4444;
  --z-red600: #dc2626;
  --z-red700: #b91c1c;
  --z-red800: #991b1b;
  --z-red900: #7f1d1d;
  --z-red950: #450a0a;
  --z-orange50: #fff7ed;
  --z-orange100: #ffedd5;
  --z-orange200: #fed7aa;
  --z-orange300: #fdba74;
  --z-orange400: #fb923c;
  --z-orange500: #f97316;
  --z-orange600: #ea580c;
  --z-orange700: #c2410c;
  --z-orange800: #9a3412;
  --z-orange900: #7c2d12;
  --z-orange950: #431407;
  --z-amber50: #fffbeb;
  --z-amber100: #fef3c7;
  --z-amber200: #fde68a;
  --z-amber300: #fcd34d;
  --z-amber400: #fbbf24;
  --z-amber500: #f59e0b;
  --z-amber600: #d97706;
  --z-amber700: #b45309;
  --z-amber800: #92400e;
  --z-amber900: #78350f;
  --z-amber950: #451a03;
  --z-yellow50: #fefce8;
  --z-yellow100: #fef9c3;
  --z-yellow200: #fef08a;
  --z-yellow300: #fde047;
  --z-yellow400: #facc15;
  --z-yellow500: #eab308;
  --z-yellow600: #ca8a04;
  --z-yellow700: #a16207;
  --z-yellow800: #854d0e;
  --z-yellow900: #713f12;
  --z-yellow950: #422006;
  --z-lime50: #f7fee7;
  --z-lime100: #ecfccb;
  --z-lime200: #d9f99d;
  --z-lime300: #bef264;
  --z-lime400: #a3e635;
  --z-lime500: #84cc16;
  --z-lime600: #65a30d;
  --z-lime700: #4d7c0f;
  --z-lime800: #3f6212;
  --z-lime900: #365314;
  --z-lime950: #1a2e05;
  --z-green50: #f0fdf4;
  --z-green100: #dcfce7;
  --z-green200: #bbf7d0;
  --z-green300: #86efac;
  --z-green400: #4ade80;
  --z-green500: #22c55e;
  --z-green600: #16a34a;
  --z-green700: #15803d;
  --z-green800: #166534;
  --z-green900: #14532d;
  --z-green950: #052e16;
  --z-emerald50: #ecfdf5;
  --z-emerald100: #d1fae5;
  --z-emerald200: #a7f3d0;
  --z-emerald300: #6ee7b7;
  --z-emerald400: #34d399;
  --z-emerald500: #10b981;
  --z-emerald600: #059669;
  --z-emerald700: #047857;
  --z-emerald800: #065f46;
  --z-emerald900: #064e3b;
  --z-emerald950: #022c22;
  --z-teal50: #f0fdfa;
  --z-teal100: #ccfbf1;
  --z-teal200: #99f6e4;
  --z-teal300: #5eead4;
  --z-teal400: #2dd4bf;
  --z-teal500: #14b8a6;
  --z-teal600: #0d9488;
  --z-teal700: #0f766e;
  --z-teal800: #115e59;
  --z-teal900: #134e4a;
  --z-teal950: #042f2e;
  --z-cyan50: #ecfeff;
  --z-cyan100: #cffafe;
  --z-cyan200: #a5f3fc;
  --z-cyan300: #67e8f9;
  --z-cyan400: #22d3ee;
  --z-cyan500: #06b6d4;
  --z-cyan600: #0891b2;
  --z-cyan700: #0e7490;
  --z-cyan800: #155e75;
  --z-cyan900: #164e63;
  --z-cyan950: #083344;
  --z-sky50: #f0f9ff;
  --z-sky100: #e0f2fe;
  --z-sky200: #bae6fd;
  --z-sky300: #7dd3fc;
  --z-sky400: #38bdf8;
  --z-sky500: #0ea5e9;
  --z-sky600: #0284c7;
  --z-sky700: #0369a1;
  --z-sky800: #075985;
  --z-sky900: #0c4a6e;
  --z-sky950: #082f49;
  --z-blue50: #eff6ff;
  --z-blue100: #dbeafe;
  --z-blue200: #bfdbfe;
  --z-blue300: #93c5fd;
  --z-blue400: #60a5fa;
  --z-blue500: #3b82f6;
  --z-blue600: #2563eb;
  --z-blue700: #1d4ed8;
  --z-blue800: #1e40af;
  --z-blue900: #1e3a8a;
  --z-blue950: #172554;
  --z-indigo50: #eef2ff;
  --z-indigo100: #e0e7ff;
  --z-indigo200: #c7d2fe;
  --z-indigo300: #a5b4fc;
  --z-indigo400: #818cf8;
  --z-indigo500: #6366f1;
  --z-indigo600: #4f46e5;
  --z-indigo700: #4338ca;
  --z-indigo800: #3730a3;
  --z-indigo900: #312e81;
  --z-indigo950: #1e1b4b;
  --z-violet50: #f5f3ff;
  --z-violet100: #ede9fe;
  --z-violet200: #ddd6fe;
  --z-violet300: #c4b5fd;
  --z-violet400: #a78bfa;
  --z-violet500: #8b5cf6;
  --z-violet600: #7c3aed;
  --z-violet700: #6d28d9;
  --z-violet800: #5b21b6;
  --z-violet900: #4c1d95;
  --z-violet950: #2e1065;
  --z-purple50: #faf5ff;
  --z-purple100: #f3e8ff;
  --z-purple200: #e9d5ff;
  --z-purple300: #d8b4fe;
  --z-purple400: #c084fc;
  --z-purple500: #a855f7;
  --z-purple600: #9333ea;
  --z-purple700: #7e22ce;
  --z-purple800: #6b21a8;
  --z-purple900: #581c87;
  --z-purple950: #3b0764;
  --z-fuchsia50: #fdf4ff;
  --z-fuchsia100: #fae8ff;
  --z-fuchsia200: #f5d0fe;
  --z-fuchsia300: #f0abfc;
  --z-fuchsia400: #e879f9;
  --z-fuchsia500: #d946ef;
  --z-fuchsia600: #c026d3;
  --z-fuchsia700: #a21caf;
  --z-fuchsia800: #86198f;
  --z-fuchsia900: #701a75;
  --z-fuchsia950: #4a044e;
  --z-pink50: #fdf2f8;
  --z-pink100: #fce7f3;
  --z-pink200: #fbcfe8;
  --z-pink300: #f9a8d4;
  --z-pink400: #f472b6;
  --z-pink500: #ec4899;
  --z-pink600: #db2777;
  --z-pink700: #be185d;
  --z-pink800: #9d174d;
  --z-pink900: #831843;
  --z-pink950: #500724;
  --z-rose50: #fff1f2;
  --z-rose100: #ffe4e6;
  --z-rose200: #fecdd3;
  --z-rose300: #fda4af;
  --z-rose400: #fb7185;
  --z-rose500: #f43f5e;
  --z-rose600: #e11d48;
  --z-rose700: #be123c;
  --z-rose800: #9f1239;
  --z-rose900: #881337;
  --z-rose950: #4c0519;
  --z-primary50: #eef2ff;
  --z-primary100: #e0e7ff;
  --z-primary200: #c7d2fe;
  --z-primary300: #a5b4fc;
  --z-primary400: #818cf8;
  --z-primary500: #6366f1;
  --z-primary600: #4f46e5;
  --z-primary700: #4338ca;
  --z-primary800: #3730a3;
  --z-primary900: #312e81;
  --z-primary950: #1e1b4b;
  --z-success50: #f0fdf4;
  --z-success100: #dcfce7;
  --z-success200: #bbf7d0;
  --z-success300: #86efac;
  --z-success400: #4ade80;
  --z-success500: #22c55e;
  --z-success600: #16a34a;
  --z-success700: #15803d;
  --z-success800: #166534;
  --z-success900: #14532d;
  --z-success950: #052e16;
  --z-warning50: #fffbeb;
  --z-warning100: #fef3c7;
  --z-warning200: #fde68a;
  --z-warning300: #fcd34d;
  --z-warning400: #fbbf24;
  --z-warning500: #f59e0b;
  --z-warning600: #d97706;
  --z-warning700: #b45309;
  --z-warning800: #92400e;
  --z-warning900: #78350f;
  --z-warning950: #451a03;
  --z-error50: #fef2f2;
  --z-error100: #fee2e2;
  --z-error200: #fecaca;
  --z-error300: #fca5a5;
  --z-error400: #f87171;
  --z-error500: #ef4444;
  --z-error600: #dc2626;
  --z-error700: #b91c1c;
  --z-error800: #991b1b;
  --z-error900: #7f1d1d;
  --z-error950: #450a0a;
}
