.prose :where(.vp-code span) {
  color: var(--shiki-light, inherit);
}

.dark .prose :where(.vp-code span) {
  color: var(--shiki-dark, inherit);
}

.prose :where(.vp-code) {
  padding: var(--vp-code-padding-x) var(--vp-code-padding-y);
  /* border-radius: var(--radius); */
}

.prose :where(div[class*='language-']) {
  position: relative;
  overflow-x: auto;
}

.prose :where(div[class*='language-'] > span.lang) {
  position: absolute;
  top: 2px;
  color: var(--vp-code-copy-color);
  right: 8px;
  z-index: 2;
  font-size: 12px;
}
.prose :where(div[class*='language-']:hover > span.lang) {
  opacity: 0;
}
.prose :where(div[class*='language-'] > button.copy) {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 3;
  border: 1px solid var(--vp-code-copy-code-border-color);
  border-radius: 4px;
  width: 36px;
  height: 36px;
  color: var(--vp-code-copy-color);
  -webkit-mask: var(--vp-code-copy-color);
  mask: var(--vp-code-copy-color);
  background-color: var(--vp-code-copy-code-bg);
  opacity: 0;
  cursor: pointer;
  background-image: var(--vp-icon-copy);
  background-position: 50%;
  background-size: 18px;
  background-repeat: no-repeat;
}
.prose :where(div[class*='language-']:hover > button.copy) {
  opacity: 1;
}

.prose :where(div[class*='language-'] > button.copy.copied) {
  border-radius: 0 4px 4px 0;
  background-image: var(--vp-icon-copied);
}

.prose :where(div[class*='language-'] > button.copy.copied)::before {
  position: relative;
  top: -1px;
  /*rtl:ignore*/
  transform: translateX(calc(-100% - 1px));
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--vp-code-copy-code-border-color);
  /*rtl:ignore*/
  border-right: 0;
  border-radius: 4px 0 0 4px;
  padding: 0 10px;
  width: fit-content;
  height: 36px;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  color: var(--color-green-600);
  background-color: var(--vp-code-copy-code-bg);
  white-space: nowrap;
  content: 'Copied';
}

.prose :where(div[class*='language-'].line-numbers-mode) {
  padding-left: 32px;
}

.prose :where(div[class*='language-'] .line-numbers-wrapper) {
  position: absolute;
  top: 0;
  bottom: 0;
  border-right: 1px solid var(--color-slate-200);
  left: 0;
  padding-top: var(--vp-code-padding-y);
  padding-bottom: var(--vp-code-padding-y);
  z-index: 3;
  width: 32px;
  text-align: center;
}
