.w-radio {
  display: inline-flex;
  align-items: center;
  &.is-disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
  &_input {
    height: 1rem;
    width: 1rem;
    border: 1px solid theme('colors.gray.300');
    color: theme('colors.indigo.600');
    transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus {
      outline: none;
      box-shadow: 0 0 0 2px theme('colors.white'), 0 0 0 4px theme('colors.indigo.500');
    }
    &:disabled {
      cursor: not-allowed;
    }
  }
  &_label {
    margin-left: 0.5rem;
    line-height: 1.25rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: theme('colors.gray.700');
  }
}
