.e-button {
  --e-button-bg-color: theme('colors.white');
  --e-button-border-color: theme('colors.gray.300');
  --e-button-outline-color: theme('colors.indigo.500');
  --e-button-rounded: theme('borderRadius.md')
  --e-button-px: theme('spacing.4');
  --e-button-py: theme('spacing.2');
  --e-button-bg-color\:hover: theme('colors.gray.50');
  --e-button-font-size: theme('fontSize.sm.0');
  --e-button-line-height: theme('fontSize.sm.1.lineHeight');
  
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  font-size:  theme('fontSize.sm.0');
  line-height:  theme('fontSize.sm.1.lineHeight');
  padding: var(--e-button-py) var(--e-button-px);
  border: 1px solid var(--e-button-border-color);
  background-color: var(--e-button-bg-color);
  border-radius: var(--e-button-rounded);
  // color: theme('colors.gray.700');
  box-shadow: theme('boxShadow.sm');
  border-radius: var(--e-button-rounded);
  &:hover {
    background-color: var(--e-button-bg-color\:hover);
  }
  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px #fff, 0 0 0 calc(2px + 2px) var(--e-button-outline-color), 0 0 #000;
  }
  &--xs {
    --e-button-rounded: theme('borderRadius.DEFAULT')
    @apply rounded px-2.5 py-1.5 text-xs;
  }
  &--sm {
    @apply rounded-md px-3 py-2 text-sm leading-4;
  }
  &--md {
    @apply rounded-md px-4 py-2 text-sm;
  }
  &--lg {
    @apply rounded-md px-4 py-2 text-base;
  }
  &--xl {
    @apply rounded-md px-6 py-3 text-base;
  }

  &--primary,
  &--success,
  &--warning,
  &--error {
    border-color: transparent;
    color: theme('colors.white');
  }

  &--primary {
    --e-button-bg-color: theme('colors.indigo.600');
    --e-button-outline-color: theme('colors.indigo.500');

    --e-button-bg-color\:hover: theme('colors.indigo.700');
  }

  &--success {
    --e-button-bg-color: theme('colors.green.500');
    --e-button-outline-color: theme('colors.green.600');

    --e-button-bg-color\:hover: theme('colors.green.500');
  }

  &--warning {
    --e-button-bg-color: theme('colors.amber.500');
    --e-button-outline-color: theme('colors.amber.600');

    --e-button-bg-color\:hover: theme('colors.amber.500');
  }

  &--error {
    --e-button-bg-color: theme('colors.red.500');
    --e-button-outline-color: theme('colors.red.600');

    --e-button-bg-color\:hover: theme('colors.red.500');
  }

  &--round {
    @apply rounded-full;
  }

  &--circle {
    @apply justify-center overflow-hidden whitespace-nowrap rounded-full px-0;
    width: calc(theme('width.9') + 2px);
    &.e-button--xs {
      width: calc(theme('width.7') + 2px);
    }
    &.e-button--sm {
      width: calc(theme('width.8') + 2px);
    }
    &.e-button--lg {
      width: calc(theme('width.10') + 2px);
    }
    &.e-button--xl {
      width: calc(theme('width.12') + 2px);
    }
  }

  &--link {
    @apply border-transparent bg-transparent underline underline-offset-2 shadow-none hover:bg-transparent;
    &.e-button--primary {
      @apply text-indigo-600 hover:text-indigo-700;
    }
    &.e-button--success {
      @apply text-green-600 hover:text-green-700;
    }
    &.e-button--warning {
      @apply text-amber-600 hover:text-amber-700;
    }
    &.e-button--error {
      @apply text-red-600 hover:text-red-700;
    }

    &.is-disabled {
      @apply border-transparent bg-transparent;
    }
  }

  &:disabled,
  &.is-disabled {
    /* border text-slate-400  border-slate-300 bg-slate-50  */
    @apply cursor-not-allowed opacity-40 focus:ring-0 #{!important};
  }
}
