:root {
  --e-button-color: inherit;
  --e-button-bg-color: theme('colors.white');
  --e-button-border-color: theme('colors.gray.300');
  --e-button-ring-color: theme('colors.indigo.500');
  --e-button-rounded: theme('borderRadius.md');
  --e-button-px: theme('spacing.4');
  --e-button-py: theme('spacing.2');
  --e-button-font-size: theme('fontSize.sm.0');
  --e-button-line-height: theme('fontSize.sm.1.lineHeight');

  --e-button-color\:hover: var(--e-button-color);
  --e-button-bg-color\:hover: theme('colors.gray.50');
}

.e-button {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  color: var(--e-button-color);
  font-size: var(--e-button-font-size);
  line-height: var(--e-button-line-height);
  padding: var(--e-button-py) var(--e-button-px);
  border: 1px solid var(--e-button-border-color);
  background-color: var(--e-button-bg-color);
  border-radius: var(--e-button-rounded);
  box-shadow: theme('boxShadow.sm');

  --e-button-ring-offset-width: 2px;
  &:hover {
    color: var(--e-button-color);
    background-color: var(--e-button-bg-color\:hover);
  }
  &:focus {
    outline: none;
    box-shadow: 0 0 0 var(--e-button-ring-offset-width) #fff,
      0 0 0 calc(var(--e-button-ring-offset-width) + 2px) var(--e-button-ring-color), 0 0 0 0 #000;
  }
  &--xs {
    --e-button-rounded: theme('borderRadius.DEFAULT');
    --e-button-font-size: theme('fontSize.xs.0');
    --e-button-line-height: theme('fontSize.xs.1.lineHeight');
    --e-button-px: theme('spacing[2.5]');
    --e-button-py: theme('spacing[1.5]');
  }
  &--sm {
    --e-button-font-size: theme('fontSize.sm.0');
    --e-button-line-height: theme('lineHeight.4');
    --e-button-px: theme('spacing.3');
    --e-button-py: theme('spacing.2');
  }
  &--md {
    --e-button-font-size: theme('fontSize.sm.0');
    --e-button-line-height: theme('fontSize.sm.1.lineHeight');
    --e-button-px: theme('spacing.3');
    --e-button-py: theme('spacing.2');
  }
  &--lg {
    --e-button-font-size: theme('fontSize.base.0');
    --e-button-line-height: theme('fontSize.base.1.lineHeight');
    --e-button-px: theme('spacing.4');
    --e-button-py: theme('spacing.2');
  }
  &--xl {
    --e-button-font-size: theme('fontSize.base.0');
    --e-button-line-height: theme('fontSize.base.1.lineHeight');
    --e-button-px: theme('spacing.6');
    --e-button-py: theme('spacing.3');
  }

  &--primary,
  &--success,
  &--warning,
  &--error {
    border-color: transparent;
    --e-button-color: theme('colors.white');
  }

  &--primary {
    --e-button-bg-color: theme('colors.indigo.600');
    --e-button-ring-color: theme('colors.indigo.500');

    --e-button-bg-color\:hover: theme('colors.indigo.700');
  }

  &--success {
    --e-button-bg-color: theme('colors.green.500');
    --e-button-ring-color: theme('colors.green.600');

    --e-button-bg-color\:hover: theme('colors.green.500');
  }

  &--warning {
    --e-button-bg-color: theme('colors.amber.500');
    --e-button-ring-color: theme('colors.amber.600');

    --e-button-bg-color\:hover: theme('colors.amber.500');
  }

  &--error {
    --e-button-bg-color: theme('colors.red.500');
    --e-button-ring-color: theme('colors.red.600');

    --e-button-bg-color\:hover: theme('colors.red.500');
  }

  &--round {
    --e-button-rounded: theme('borderRadius.full');
  }

  &--circle {
    --e-button-rounded: theme('borderRadius.full');

    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
    padding-left: 0;
    padding-right: 0;
    width: calc(theme('width.9') + 2px);
    &.e-button--xs {
      width: calc(theme('width.7') + 2px);
    }
    &.e-button--sm {
      width: calc(theme('width.8') + 2px);
    }
    &.e-button--lg {
      width: calc(theme('width.10') + 2px);
    }
    &.e-button--xl {
      width: calc(theme('width.12') + 2px);
    }
  }

  &--link {
    border-color: transparent;
    background-color: transparent;
    text-decoration-line: underline;
    text-underline-offset: 2px;
    box-shadow: none;
    &:hover {
      color: var(--e-button-color\:hover);
      background-color: transparent;
    }
    &:focus:not(:focus-visible) {
      box-shadow: none;
    }
    &.e-button--primary {
      --e-button-color: theme('colors.indigo.600');
      --e-button-color\:hover: theme('colors.indigo.700');
    }
    &.e-button--success {
      --e-button-color: theme('colors.green.600');
      --e-button-color\:hover: theme('colors.green.700');
    }
    &.e-button--warning {
      --e-button-color: theme('colors.amber.600');
      --e-button-color\:hover: theme('colors.amber.700');
    }
    &.e-button--error {
      --e-button-color: theme('colors.red.600');
      --e-button-color\:hover: theme('colors.red.700');
    }

    // &.is-disabled {
    //   border-color: transparent !important;
    //   @apply border-transparent bg-transparent;
    // }
  }

  &:disabled,
  &.is-disabled {
    /* border text-slate-400  border-slate-300 bg-slate-50  */
    cursor: not-allowed;
    opacity: 0.5;
    box-shadow: none;
    &:hover {
      color: var(--e-button-color);
      background-color: var(--e-button-bg-color);
    }
  }
}
