@layer base {
  *,
  *::before,
  *::after {
    border-color: var(--color-ring);
  }
}
@theme {
  --color-fg: var(--color-gray-900);
  --color-fg-1: var(--color-gray-700);
  --color-fg-2: var(--color-gray-500);

  --color-bg-soft: var(--color-gray-100);
  --color-bg-soft-hover: var(--color-gray-200);
  --color-bg-deep: var(--color-gray-800);
  --color-bg-deep-hover: var(--color-gray-900);

  --color-input: var(--color-gray-300);
  --color-ring: var(--color-gray-200);
  --color-mute: var(--color-gray-300);

  --color-link: var(--color-blue-700);
  --color-link-hover: var(--color-blue-800);

  --color-primary: var(--color-blue-500);
  --color-primary-hover: var(--color-blue-600);
  --color-primary-soft: var(--color-blue-100);
  --color-primary-soft-hover: var(--color-blue-200);

  --color-success: var(--color-green-500);
  --color-success-hover: var(--color-green-600);
  --color-success-soft: var(--color-green-100);
  --color-success-soft-hover: var(--color-green-200);

  --color-warning: var(--color-amber-500);
  --color-warning-hover: var(--color-amber-600);
  --color-warning-soft: var(--color-amber-100);
  --color-warning-soft-hover: var(--color-amber-200);

  --color-danger: var(--color-red-500);
  --color-danger-hover: var(--color-red-600);
  --color-danger-soft: var(--color-red-100);
  --color-danger-soft-hover: var(--color-red-200);
}
/* 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 24.6 95% 53.1%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 24.6 95% 53.1%;
    --radius: 1rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 20.5 90.2% 48.2%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 20.5 90.2% 48.2%;
  }
} */
