.e-button-group {
  position: relative;
  display: inline-flex;
  z-index: 0;
  border-radius: theme('borderRadius.md');
  box-shadow: theme('boxShadow.md');
  > .e-button {
    position: relative;
    border-radius: 0;
    &:first-child {
      border-top-left-radius: theme('borderRadius.md');
      border-bottom-left-radius: theme('borderRadius.md');
    }
    &:last-child {
      border-top-right-radius: theme('borderRadius.md');
      border-bottom-right-radius: theme('borderRadius.md');
    }
    &:focus {
      --e-button-ring-offset-width: 0px;
      z-index: theme('zIndex.10');
    }
    + .e-button {
      margin-left: -1px;
    }
  }
}
